*{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
}

body {
    margin-top: 69px;
}

h2 {
    font-size: 1.5em;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.header .main-title p{
    font-family: Snell Roundhand, cursive;
    font-size: 50px;
    margin: auto;
}

.header .nav{
    text-decoration: underline;
    margin-left: auto;
    margin-right: 2%;
    float: right;
}

.header .nav ul {
    display: flex;
    max-height: 69px;
    margin: auto;
    gap: 40px;
}

.mission {
    display: inline;
    flex-direction: column;
    position:relative;
    padding: auto;
    width: 1200px;
    height: 700px;
}

.mission img {
    margin: auto;
    display: block;
}

.mission-words {
    padding: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mission-words h2, h4{
    text-align: center;
    width: 1200px;
}

.monthly{
    text-align: center;
}

.contact {
    text-align: center;
    height: 200px;
}

.footer {
    text-align: left;
    margin-top: 20px;
}